body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #121213;
}
header {
  text-align: center;
  color: white;
}

main {
  padding-left: 28%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hints-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

#hints {
  width: 125px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}
#hint-image {
  width: 75px;
}

#hints-remaining {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
  padding-top: 20px;
  padding-right: 20px;
}

#hint-message-container {
  display: flex;
  flex-direction: column;
}
#hint-message {
}

#play-again {
  display: block;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px rgba(255, 255, 255, 0.5);
  text-align: left;
  margin-left: 10px;
  padding: 6px 15px;
}

.rows {
  display: flex;
  justify-content: space-evenly;
  border: none;
  gap: 4px;
  width: 300px;
  height: 50px;
}

.sqr {
  border: 1px solid #818384;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
}

.correct {
  background-color: #538d4e;
  border: 1px solid #538d4e;
}

.wrong-place {
  background-color: #b59f3b;
  border: 1px solid #b59f3b;
}

.wrong {
  background-color: #818384;
  border: 1px solid #818384;
}
